body,
html {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  padding: 20px 70px;
}

.navbar {
  background-color: #E9ECEF;
  color: #6C757D;
  text-transform: uppercase;
  font-family: "Inconsolata";
  width: 100%;
}

.navbar li {
  display: inline;
  margin: 0.4em;
  margin-top: 0;
}

.navbar a {
  color: #6C757D;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.color {
  background-color: #F8F9FA;
  padding: 30px 30px;
}

.color p {
  text-transform: uppercase;
  font-family: "Inconsolata";
  text-align: center;
}

.about-animal {
  height: 30%;
  width: 0%;
  position: fixed;
  z-index: 1;
  right: 10px;
  background-color: #E9ECEF;
  overflow-x: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Inconsolata";
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-content {
  position: relative;
  text-align: center;
  color: #6C757D;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  color: #6C757D;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}

.animal {
  cursor: pointer;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.animal:hover {
  color: black;
}

.facts {
  margin: 60px 0;
}

.btn {
  color: #6C757D;
  text-transform: uppercase;
  font-family: "Inconsolata";
  border: none;
  background-color: #F8F9FA;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.btn:hover {
  color: black;
}

.text {
  margin: 15px;
  padding: 10px;
}

.space {
  text-align: center;
}

.minimalistic {
  display: block;
}

.minimalistic .mainphoto {
  width: 70%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: groove;
  padding: 0px 50px;
}

.nature {
  width: 280px;
  height: 280px;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nature img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.naturesection {
  margin: 60px 0;
}

.animals {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animals img {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.animals .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6C757D;
}

.animals .el p {
  text-align: center;
  font-family: "Inconsolata";
  text-transform: uppercase;
}

.animals .el p.description {
  height: 100%;
}

.together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.together .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-world .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.changecolor {
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.changecolor:hover {
  color: black;
}

nav ul {
  display: inline;
}

.about-me {
  background-color: #E9ECEF;
  font-family: "Inconsolata";
}

.about-me .biography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me .biography .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin: 10px 20px 0px 20px;
}

.about-me .biography .el p {
  text-align: center;
}

.about-me .biography .el p.description {
  height: 100%;
}

.img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.img-wrapper img {
  width: 100%;
}

footer {
  background-color: #DEE2E6;
  text-align: center;
  font-size: small;
  padding: 2px;
  color: #ADB5BD;
  text-transform: uppercase;
  font-family: "Inconsolata";
}

@media (max-width: 978px) {
  .nature {
    width: 260px;
    height: 260px;
  }
  .mainphoto {
    width: auto;
    height: auto;
  }
  .overlay-content {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
  .about-me {
    padding: 5px;
    height: auto;
  }
  .nature {
    width: 150px;
    height: 150px;
  }
  .animals {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 700px) {
  .img-wrapper {
    width: 35px;
    height: 35px;
  }
  .img-wrapper .about-me {
    padding: 0px;
    height: auto;
  }
  .animals {
    width: 200px;
    height: 200px;
  }
  .color {
    padding: 5px 5px;
  }
  .color p {
    font-size: 10px;
  }
}

@media (max-width: 590px) {
  .container {
    padding: 20px 10px;
  }
  .about-me {
    height: auto;
  }
  .about-me p {
    font-size: 10px;
  }
  .img-wrapper {
    width: 35px;
    height: 35px;
    margin: auto;
  }
  .el {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .el .nature {
    width: 250px;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  .about-world .el {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .animals {
    width: 130px;
    height: 130px;
  }
}
/*# sourceMappingURL=main.css.map */