@import "variables.scss";

body,
html {
  margin: 0;
  padding: 0;
  font-family: $main-font-2;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  padding: 20px 70px;
}

.navbar {
  background-color: $main-color-2;
  color: $main-color-6;
  text-transform: uppercase;
  font-family: $main-font-1;
  //position: fixed;
  width: 100%;
  li {
    display: inline;
    margin: 0.4em;
    margin-top: 0;
  }
  a {
    color: $main-color-6;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
}

.color{
  background-color: $main-color-1;
  padding: 30px 30px;
  p{
    text-transform: uppercase;
    font-family: $main-font-1;
    text-align: center;
  }
}

.about-animal {
  height: 30%;
  width: 0%;
  position: fixed;
  z-index: 1;
  // top: 0%;
  // left: 0%;
  right: 10px;
  background-color: $main-color-2;
  overflow-x: hidden;
  transition: 0.2s;
  font-family: $main-font-1;
  padding: 0px;
  display: flex;
}

.overlay-content {
  position: relative;
  text-align: center;
  color: $main-color-6;
  text-transform: uppercase;
  align-self: center;
  font-size: 15px;
}

.closebtn{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 40px;
  color: $main-color-6;
  cursor: pointer;
}

.closebtn:hover{
  color: black;
}

.animal{
  cursor:pointer;
  transition: color .2s linear;  
}

.animal:hover{
  color: black;
}

.facts{
  margin: 60px 0;
}

.btn{
  color: $main-color-6;
  text-transform: uppercase;
  font-family: $main-font-1;
  border: none;
  background-color: $main-color-1;
  transition: color .2s linear;

}

.btn:hover{
  color: black;
}

.text{
  margin: 15px;
  padding: 10px;
}

.space{
  text-align: center;
}

.minimalistic{
  .mainphoto{
    width: 70%;
    height: auto;
    margin:  auto;
    display: flex;
    border-style: groove;
    padding: 0px 50px;
  }
  display: block;
}

.nature{
  width: 280px;
  height: 280px;
  overflow: hidden;
  margin: auto;
  display:flex;
  img{
    width: 100%;
    align-self: center;
  }
}

.naturesection{
  margin: 60px 0;
}

.animals{
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  display: flex;
  img{
    width: 90%;
    align-self: center;
  }
  .el {
    display: flex;
    flex-direction: column;
    color: $main-color-6;
    p {
      text-align: center;
      font-family: $main-font-1;
      text-transform: uppercase;
      &.description {
        height: 100%;
      }
    }
  }
}

.together{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  .el{
    display: flex;
    justify-content: center;

  }
}

.about-world{
  .el{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.changecolor{
  transition: color .2s linear;
}

.changecolor:hover{
  color:black;
}


nav ul {
  display: inline;
}

.about-me { 
  background-color:$main-color-2;
  font-family: $main-font-1;
  .biography {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .el {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5px;
      margin: 10px 20px 0px 20px;
      p {
        text-align: center;
        &.description {
          height: 100%;
        }
      }
    }
  }
}

.img-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin:  auto;
  img {
    width: 100%;
  }
}


footer {
  background-color: $main-color-3;
  text-align: center;
  font-size: small;
  padding: 2px;
  color: $main-color-5;
  text-transform: uppercase;
  font-family: $main-font-1;

}

@media (max-width: 978px) {
  .nature{
    width: 260px;
    height: 260px;
  }
  .mainphoto{
    width: auto;
    height: auto;
    
  }
  .overlay-content {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  nav {
    display: none;
  }
  .about-me{
    padding: 5px;
    height: auto; 
  }
  .nature{
    width: 150px;
    height: 150px;
  }
  .animals{
    width: 250px;
    height: 250px;
  }
}



@media (max-width: 700px) {
  .img-wrapper {
    width: 35px;
    height: 35px;
    .about-me{
        padding: 0px;
        height: auto;
    }
  }
  .animals{
    width: 200px;
    height: 200px;
  }
  .color{
    padding: 5px 5px;
    p{
      font-size: 10px;
    }
  }
}


@media (max-width: 590px) {
  .container{
    padding: 20px 10px;
  }
  .about-me {
    height: auto;
    p{
      font-size: 10px;
    }
  }
  .img-wrapper {
    width: 35px;
    height: 35px;
    margin: auto;
  }
  .el{
    align-items: center;
    .nature{
      width: 250px;
      height: 200px;
      justify-content: center;
      //flex-direction: column;
      margin: 20px 0;
    }
  }
  
  .about-world{
    .el{
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .animals{
    width: 130px;
    height: 130px;
  }
}
