$main-color-1: #F8F9FA;
$main-color-2: #E9ECEF;
$main-color-3: #DEE2E6;
$main-color-4: #CED4DA;
$main-color-5: #ADB5BD;
$main-color-6: #6C757D;
$main-font-1: "Inconsolata";
$main-font-2: 'Playfair Display', serif;
